* {
  margin: 0;
  padding: 0;
}

.nav {
  /* height: 40px; */
}

span {
  border-right: 2px solid;
}

.item {
  display: inline-block;
  margin: 20px 30px 20px 30px;
  text-decoration: none;
  color: yellow;
}

.active {
  text-decoration: none;
  color: orange;
  /* margin: 0; */
}

.item a {
  margin: 0;
}
